* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --state-pend: rgb(221, 221, 221);
  --state-dev: rgb(32, 92, 211);
  --state-done: rgb(0, 153, 0);
  --state-pro: rgb(255, 102, 0);
}

.container_input_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #222;
}

.container_input_button_flex{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.box_button_save{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.box_input_btn .save{
  width: max-content;
  height: 35px;
  padding: 0 10px;
  justify-self: right;
  font-weight: 400;
  background-color: transparent;
  color: #eee;
  border: 1px solid rgba(255, 255, 255, 0.347);
  border-radius: 10px;
  transition: all 0.2s ease;
}

.box_input_btn .save:hover {
  background-color: rgba(0, 54, 169, 0.243);
  color: rgb(0, 221, 255);
  border: 1px solid rgba(0, 221, 255, 0.243);
}

.box_input_btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
  height: max-content;
}

.box_input_btn input {
  width: 250px;
  height: 35px;
  padding: 0 10px;
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid #000;
}


.box_input_btn input::placeholder {
  font-size: 14px;
}

.box_input_btn .add {
  width: max-content;
  height: 35px;
  padding: 0 10px;
  justify-self: right;
  font-weight: 400;
  background-color: transparent;
  color: #eee;
  border: 1px solid rgba(255, 255, 255, 0.347);
  border-radius: 10px;
  transition: all 0.2s ease;
}

.box_input_btn .add:hover {
  background-color: rgba(0, 169, 20, 0.243);
  color: rgb(0, 255, 30);
  border: 1px solid rgba(0, 250, 20, 0.443);
}


.container_state_li {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: calc(100vh - 100px);
  background-color: #333;
  position: relative;
}

.container_states {
  border-bottom: 1px solid #cfcfcf47;
}

.box_info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  text-align: center;
  color: #ccc;
  font-size: 14px;
  background-color: #444;
  position: absolute;
  bottom: 0;
  left: 0;
}

.box_states {
  display: flex;
  flex-wrap: wrap;
  width: content;
  gap: 40px;
  padding: 0 20px;
  margin: 20px 0;
  justify-content: flex-start;
  align-items: center;
}

.box_states p {
  padding: 5px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 12px;
}

/* Estados */

.state_pend {
  background-color: var(--state-pend);
}

.state_dev {
  background-color: var(--state-dev);
}

.state_done {
  background-color: var(--state-done);
}

.state_pro {
  background-color: var(--state-pro);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px 10px;
  flex-wrap: wrap;
  margin: 0 auto 0 auto;
  max-width: 1280px;
  max-height: calc(100% - 150px);
  padding: 20px;
  overflow-y: scroll;
}

.container::-webkit-scrollbar {
  width: 0.5em;
}

.container li {
  display: grid;
  align-items: center;
  grid-template-columns: 80px 1fr 80px;
  list-style: none;
  min-width: 300px;
  max-width: 800px;
  height: auto;
  padding: 10px 20px 10px 0;
  border-radius: 10px;
  background-color: #444;
}

.container li p {
  display: flex;
  justify-self: center;
  text-align: center;
  text-wrap: balance;
  width: 300px;
  font-size: 20px;
  font-weight: 400;
  color: #eee;
  overflow: hidden;
}

.btn_preview_colors {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  justify-self: center;
  border: none;
  transition: transform 0.2s ease;
}

.btn_delet_element {
  width: max-content;
  padding: 5px 10px;
  justify-self: center;
  font-weight: 400;
  font-size: 12px;
  background-color: transparent;
  color: #eee;
  border: 2px solid rgba(255, 255, 255, 0.347);
  border-radius: 10px;
  transition: all 0.2s ease;
}

.btn_delet_element:hover {
  background-color: rgba(128, 0, 0, 0.172);
  color: red;
  border: 2px solid rgba(205, 3, 3, 0.347);
}

.btn_preview_colors:hover {
  transform: scale(1.3);
}


